.sidenav {
    background-color: #f2f2f2;
    padding: 20px;
    border-right: 1px solid #ddd;
  }

  .profile {
    text-align: center;
  }

  .profile img {
    max-width: 40%;
    height: auto;
    border-radius: 50%;
  }

  .name {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }

  .email {
    color: #888;
    margin-top: 5px;
  }

  .sidenav-url {
    margin-top: 20px;
  }

  .url button {
    margin: 5px;
  }

  .main {
    padding: 20px;
  }

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .headers{
    color: #fff;
  }

  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .edit {
    color: #007bff;
    cursor: pointer;
  }

  table {
    width: 100%;
  }

  table td {
    padding: 5px;
  }

  /* Add responsive styles using Bootstrap classes */
  @media (max-width: 768px) {
    .sidenav {
      border-right: none;
      padding-right: 0;
      padding-left: 0;
    }
  }