/* Style for the search box container */
.searchBox {
  display: flex;
  align-items: center;
  max-width: 400px; /* Adjust the maximum width as needed */
  margin: 0 auto; /* Center the search box horizontally */
  background-color: #3a3636;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  position: fixed;
  top: 85%;
  left: 70%;
}

/* Style for the search input field */
#search_bar {
  flex-grow: 1; /* Allow the input to grow and take available space */
  border: none;
  padding: 10px;
  outline: none;
  font-size: 16px;
}

/* Style for the search button */
#search_btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  .searchBox {
    max-width: 100%;
  }
}
